@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;    
}

/* nav bar */
.navbarWrapper{
    background-color: #07172265;
    padding: 1% 0% 1% -10% !important;
}
.navbar-brand{
    color:#4c79d4 !important;
    font-size: 300% !important;
    margin-left: -3% !important;
    text-shadow: 2px 8px 5px #000000;
}
.navbar-toggler-icon{
    background-color: #ee980c !important;
    margin-top: 40%;
}
.nav-link{
    color: #d8db20!important;
    font-size: 150% !important;
    text-shadow: 2px 8px 5px #000000;
    
}
.nav-link:hover{
    color: #ffffff !important;
}
.fa-square-github:hover{
    color: #7fff00 !important;
}
/* navbar end */
/* navbar media query  */
@media(max-width:576px){
.navbar-brand{
padding-left: 5% !important;
}
}
@media(max-width:394px){
.navbar-brand{
    font-size: 200% !important;
    margin-right: 0%;
     margin-left: 1% !important;
}    
}
@media(max-width:362px){
.navbar-brand{
    font-size: 190% !important;
    margin-right: 0%;
}    
}

/* navbar mediaquery end */



   /* landing */
.landingWrapper{
    margin-top: 3%;
}
.colPara{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.col1Hellow{
    color: #c36712;
    text-shadow: 2px 8px 5px #000000;
    font-size: 200%;
    font-family: 'Poppins', sans-serif;
}
.nameHeder{
    color:#305c7b;
    font-size: 290%;
    font-weight: 600;
    text-shadow: 2px 8px 5px #000000;
    font-family: 'Poppins', sans-serif;
}
.iamDeveloperpara{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;   
    font-size: 250%;
    font-weight: 500;
    text-shadow: 2px 8px 5px #000000;

}
.mernLogos{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 2px 8px 5px #000000;
    font-family: 'Poppins', sans-serif;    

}
.colMyimg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myImage{
    filter: drop-shadow(75px 25px 15px rgba(0,0,0,0.6));
}
.mongo{
    animation: zoomin 2s  ease-in infinite;
}
@keyframes zoomin{
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(140%);
    }
    100%{
        transform: scale(100%);
    }
}
.express{
    animation: leftright 2s ease-in infinite;
}
@keyframes leftright{
    0%{
        transform: translateZ(-20%);
    }
    50%{
        transform: translateX(20%);
    }
    0%{
        transform: translateX(0%);
    }
}
.react{
    animation: rotate 5s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
    0%{
        transform: rotate(360deg);
    }
}
.node{
    animation: skeww 2s ease-in infinite;
}
@keyframes skeww{
    0%{
        transform: skew(0deg);
    }
    25%{
        transform: skew(8deg);
    }
    50%{
        transform: skew(8deg);
    }
}
.stackdevPara{
    margin-top: 2.5%;
    font-family: 'Poppins', sans-serif;    
    font-size: 180%;
}
.mernDiscription{
    color: white;
    font-size: 120%;
}
.stackdevparaHidden{
    display: none;
}
   /* landing end */
  
     /* landing mediaquery */
 @media(max-width:437px){
    .stackdevparaHidden{
        display: contents;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.5%;
        font-family: 'Poppins', sans-serif;    
        font-size: 180%;
        color: #ffffff;
    }
    .stackdevPara{
        display: none;
    }
    .mernDiscription {
        color: white;
        font-size: 90%;
    }
    .landingWrapper{
        padding-top: 3%;
        margin-bottom: 3%;
    }
    .col1Hellow{
        font-size: 135%;
    }
    .nameHeder{
        font-size: 220%;
    }
    .iamDeveloperpara{
        font-size: 205%;
        margin-bottom: 2%;
    }
    .myImage{
        margin-top: -15%;
    }

    .mernLogos{
        justify-content: space-around;
    }
}
     
     /* landing mediaquery -end */



/* keyskills */

.keyskillsAndresponsiblewrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.keyskillsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;

}
.developerCard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    background-color: #071722 !important;
    box-shadow: -17px -16px 12px 0px rgba(0,0,0,0.1);
}
.developerImg{
    width: 75% !important;
    filter: drop-shadow(10px 20px 10px #000000);
}
.keyskillCard{
    background-color: #071722 !important;
    box-shadow: 37px -42px 11px -5px rgba(0,0,0,0.1);
}
.keyskillsHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    font-weight: 700;
    color: #979797;
}
.keyskillDiv{
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    list-style: none;
    font-size: 140%;
    font-family: 'Poppins', sans-serif;
    color: #aaaaaa;
    
}

/*  */
.responsibilityContainer{
    display: flex;
    margin-bottom: 5%;
}
.responsibleCard{
    background-color: #071722 !important;
    box-shadow: -17px -16px 12px 0px rgba(0,0,0,0.1);
}
.briefCasecard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    background-color: #071722 !important;
    box-shadow: 26px 24px 5px -5px rgba(0,0,0,0.1);

}
.briefcaseImg{
    width: 75% !important;
    filter: drop-shadow(10px 10px 10px #000000);

}
.rolesandresHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    font-weight: 700;
    color: #979797;
}
.responsibleicon{
    width: 10% !important;
    filter: drop-shadow(10px 10px 10px #000000);
}
.responsibilitiesList{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    list-style: none;
    font-size: 140%;
    font-family: 'Poppins', sans-serif;
    color: #aaaaaa;
}
.keyskillsAndresponsiblewrapper{
    margin-bottom: 0%;
}
/* roles and responsibilities end */


/* key skills and responsibilities mediaquery */
.developercardMediaquery{
    display: none !important;
}
.briefcaseMediaquery{
    display: none !important;
}
@media(max-width:768px){
    .keyskillsAndresponsiblewrapper{
        display: none !important;
    }
    .developercardMediaquery{
        display: contents !important;
        margin-right: 3%;
        background-color: #071722 !important;
        box-shadow: -17px -16px 12px 0px rgba(0,0,0,0.1);    
    }
    .keyskillsMediaqueryimg{
        width: 50% !important;
        padding-top: 3% !important;
        margin-left: 25% !important;
    }
    .developercardMediaquery{
        width: 90% !important;
       
    }
    .skillsiconMediaquery{
        filter: drop-shadow(10px 10px 10px #000000);
    }
    .keyskillsHeadingMediaquery{
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 8px 5px #000000;
        font-size: 200%;
        font-weight: 700;
        margin-left: -15%;
        color: #979797;   
    }
    .keyskillMediaqueryDiv{
        padding-left: 5%;
        font-family: 'Poppins', sans-serif;
        color: #aaaaaa;
        list-style: none;
    }

    .briefcaseMediaquery{
        display: contents !important;
        margin-right: 3%;
        margin-bottom: 3%;
        background-color: #071722 !important;
        box-shadow: -17px -16px 12px 0px rgba(0,0,0,0.1);    
        width: 90% !important;
    }
    .reaponsibilityiconMediaquery{
        filter: drop-shadow(10px 10px 10px #000000);
        margin-left: 5%;
    }
    .responsibilitiesMediaquerylist{
        margin-left: 10%;
        list-style: none;
        font-size: 120%;
        font-family: 'Poppins', sans-serif;
        color: #aaaaaa;
        list-style: none;    
    }
}
@media(max-width:768px){
    .responsibilitiesMediaquerylist{
        margin-left: 2%;
    }
}
@media(max-width:412px){
    .keyskillsMediaqueryimg{
        width: 40% !important;
        margin-left: 30% !important;
    }
        .skillsiconMediaquery{
        width: 20% !important;
    }
        .reaponsibilityiconMediaquery{
        width: 15% !important;
    }
}


/* key skills and responsibiliteis media end */


/* contact me */
.contactMeWraper{
    margin-bottom: 5%;
    margin-left: 30%;
    height: 70px;
    width: 40%;
    background-color: #071017;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contactmeEmail{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: transparent;
}
.contactmeButton{
    width: 25%;
    height: 40px;
    font-size: 110%;
    font-weight: 700;
    border: none;
    font-family: 'Poppins', sans-serif;

}
.contactmeMedia{
    display: none;
}
/* contact mediaquery */

@media(max-width:742px){
    .contactMeWraper{
        margin-bottom: 5%;
        margin-left: 30%;
        height: 70px;
        width: 50%;
        background-color: #071017;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
       .contactmeButton{
        width: 25%;
        height: 40px;
        font-size: 90%;
        font-weight: 700;
    }

}
    
@media(max-width:500px){
    .contactMeWraper{
        width: 70%;
        margin-left: 20%;
        height: 50px;
    }
    .contactmeButton{
        width: 25%;
        height: 40px;
        font-size: 90%;
        font-weight: 700;
    }
}
@media(max-width:418px){
    .contactMeWraper{
        display: none;
    }
    .contactmeMedia{
        display: contents;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;

    }
    .emailMediaquery{
        width: 80%;
        height: 40px;
        margin-bottom: 2%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 2px;
        background-color: #0f1d20;
    }
    .contactMediaquery{
        border: none;
        width: 40%;
        font-weight: 600;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(254, 254, 254);
        color: #393838;
    }
}

/* contact media query end */

/* footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.footerSocial{
    font-size: 250%;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.socialIcons{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0b202e;
    border-radius: 10px;
}
@media(max-width:415px){
    .socialIcons{
        width: 70%;
    }
    .footerSocial{
        margin-bottom: 2%;
    }
}

/* end bar */
.endBar{
    height: 30px;
    width: 100%;
    background-color: #071017;
}
/* end */
